/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
  font-family: "Roboto", sans-serif;
}

/* Container styles */
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  display: flex; /* Use flexbox layout */
}
.card {
  background-color: #9b59b6; /* Purple background color */
  color: #fff; /* White text color */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

.card h2 {
  margin-bottom: 20px;
}

.form-container {
  display: flex;
  flex-direction: column;
}

input[type="text"],
button {
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 5px;
  border: none;
}

input[type="text"] {
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background for inputs */
}

button {
  background-color: #8e44ad; /* Darker purple for button */
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #6c3483; /* Darken button color on hover */
}


/* Left side styles */
.left {
  width: 50%; /* Take up half of the container */
  padding-right: 20px; /* Add some space between left and right sections */
}

/* Right side styles */
.right {
  width: 50%; /* Take up half of the container */
}

/* Form styles */
.form-container {
  margin-bottom: 20px;
}

.form-container h2 {
  margin-bottom: 10px;
}

.form-container input[type="text"] {
  width: 200px;
  margin-right: 10px;
  padding: 5px;
}

.form-container button {
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}

/* User list and product list styles */
.user-list, .product-list {
  list-style: none;
  padding: 0;
}

.user-list li, .product-list li {
  margin-bottom: 20px;
}

.user-list p, .product-list p {
  margin: 5px 0;
}

.details {
  margin-top: 20px;
  background-color: #9b59b6; /* Purple background color */
  color: #fff; /* White text color */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

.details h2 {
  margin-bottom: 20px;
}
.details img{
  width: 100%;
}

.product-list {
  list-style: none;
  padding: 0;
}

.product-list li {
  margin-bottom: 20px;
}

.product-list p {
  margin: 0;
}

.form-container {
  display: inline-block; /* Display the button inline */
}

button {
  background-color: #8e44ad; /* Darker purple for button */
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #6c3483; /* Darken button color on hover */
}

